
.App {
  text-align: center;
}
.fp:hover{
  color:#1512cb;
}
.login:hover{
  background-color: transparent;
  color:black;
  z-index: 1;
  -webkit-tap-highlight-color: initial;
  display: inline-block;
  overflow: hidden;
}
.SignUp:hover{
  background-color: transparent;
  color:black;
  z-index: 1;
  -webkit-tap-highlight-color: initial;
  display: inline-block;
  overflow: hidden;
 
}